---
layout: default
css: /css/resources.css
title: Resources
---
{{ content }}
<script>
    var phResources = phResources || {}
    phResources.resources = function(){
        phResources.activeProject();
    };
    phResources.activeProject = function () {
        var activeAnchor = $('.panel-group .panel-default a .panel-heading');
        activeAnchor.on('click', function(){
            $(this).toggleClass('active');
            activeAnchor.not(this).removeClass('active');
            $('.panel-collapse').not(this).removeClass('in');
            $('#accordion .panel-collapse').on('shown.bs.collapse', function () {
                $(this).prev().find(".glyph-right").removeClass("glyphicon-menu-right").addClass("glyphicon-menu-down");
                $('#accordion .panel-collapse').not(this).prev().find(".glyph-right").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-right");
            });

        });
    };

    $(function(){
        phResources.resources();
    });
</script>
i