<div class="category-nav-container" {% if page.title=="/phats" %} {% endif%}>
    <div class="category-nav-container">
        <div class="category-nav-mobile">
            <a href="javascript:void(0)" id="category-button" data-toggle="collapse" data-target="#navbar-category-collapse">PhATS PIL <span class="caret"></span></a>
        </div>
        <div class="full-width collapse navbar-collapse" id="navbar-category-collapse">
            <ul class="category-nav">
                {% for category in site.data.categories %}

                <li class="col-lg-2 col-md-2 col-sm-6 col-xs-6" href="#">
                    <a href="{{ category.link }}">
                        <span>{{ category.name }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
