<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Let's Talk</h4>
            </div>
            <div class="modal-body">
                <span class="form-title">What is your inquiry?</span>
                <textarea class="form-control" placeholder="Write your comment here..."></textarea>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <span class="form-title">First Name</span>
                        <input class="form-control" id="cust-fname" placeholder="Rens"/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <span class="form-title">Last Name</span>
                        <input class="form-control" id="cust-lname" placeholder="Ramos"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <span class="form-title">Email</span>
                        <input class="form-control" id="cust-email" placeholder="rens@gmail.com"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <span class="form-title">Contact Number</span>
                        <input class="form-control" id="cust-number" placeholder="09332952362"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-submit btn btn-primary pull-left">SUBMIT</button>
            </div>
        </div>
    </div>
</div>