
<div class="panel-group" id="accordion">
    {% for pillar in site.pillars %}
    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{ pillar.slug }}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyph-left glyphicon glyphicon-folder-close"></span>{{ pillar.name }}
                </h4>
            </div>
        </a>
        <div id="{{ pillar.slug }}" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    {% for project in pillar.projects %}
                    <tr>
                        <td>
                            <a href="javascript:void(0)">{{ project.title }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

