
<div class="panel-group" id="accordion">
    {% for pillar in site.pillars %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{ pillar.slug }}"><span class="glyphicon glyphicon-folder-close">
                </span>{{ pillar.name }}</a>
            </h4>
        </div>

        <div id="{{ pillar.slug }}" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    {% for project in pillar.projects %}
                    <tr>
                        <td>
                            <a href="javascript:void(0)">{{ project.title }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

