<div class="container">
    <article id="article-content">
        <h1 class="pillar-header">PhATS</h1>
        <p>The Philippines WaSH Cluster partners, with the Department of Health, have developed a Sanitation Strategy for Early Recovery in Yolanda (Haiyan)-affected areas based on prior rural sanitation practices. The proposed Phased Approach to Total Sanitation (PhATS) is designed to assist the national government achieve goals in the Philippine Sustainable Sanitation Roadmap and the National Sustainable Sanitation Plan. PhATS builds on these plans to develop safe disposal of human waste, promoting health and hygiene practices and creating a phased and holistic approach to sanitation development.</p>
        <br/>
        <h4>A phased approach addresses:</h4>
        <ul type="circle">
            {% for phAddress in site.data.phasedAddress %}
                <li class="ph-list">{{ phAddress.address }}</li>
            {% endfor %}
        </ul>
    </article>
    <p id="pillars-description">The strategy aims to provide a framework to achieve zero open defecation (ZOD), implemented through six pillars:</p>
    <div class="pillars-container">
        <div class="row">
            {% assign sorted-pillar = site.pillars | sort:"id" %}
            {% for pillar in sorted-pillar %}
                <div data-sr="wait 0.9s" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pillars-icon" align="center">
                    <a id="{{ pillar.slug }}" href="{{ pillar.link }}" target="_blank">
                        <div class="circle-border">
                            <div class="box">
                                {{ pillar.svg }}
                                <span>{{ pillar.pname | upcase }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

