<div class="container">
    <article id="article-content">
        <h1 class="section-header">PhATS</h1>
        <p>The Philippines WaSH Cluster partners have worked with the Department of Health to develop a Sanitation Strategy for Early Recovery in Yolanda (Haiyan) affected areas based on the rural sanitation concept prior to Yolanda. The pro-posed Philippine Approach to Total Sanitation (PhATS) is designed to help the national government achieve the goals set forth in the Philippine Sustainable Sanitation Roadmap and the National Sustainable Sanitation Plan. It builds on these national instruments envisioning the creation of an open defecation free environment with safe disposal of liquid and solid wastes; the promotion of health and hygiene practices; and the strengthening of the enabling environment for sanitation and hygiene, through a phased and holistic approach to sanitation development.</p>
        <p>The rationale to have a Philippines specific sanitation approach is linked to the sector prioritizing sanitation referring to the socio-economic, political and cultural context, including its development trajectory with slow progress on rural sanitation and regional and income group based inequities, the occurrence of frequent disasters and the current development aid architecture. The strategy also tries to take note of the institutional setup of the sector, the existing links to national provincial and local institutions and recent patterns of public and private sector investment.</p>
    </article>
    <p id="pillars-description">The strategy aims to provide a common framework for the achievement of zero open defecation (ZOD) status and is implemented across six key pillars; follow the links below to learn more about each:</p>
    <div class="pillars-container">
        <div class="row">
            {% for pillars in site.data.services2 %}
            <div class="col-lg-4 pillars-icon">
                <div class="circle-border">
                    <img class="center-block" src="{{ pillars.icon }}">
                </div>
                <div class="pillars-title">
                    <span>{{ pillars.title | upcase }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>