<div id="newsFeed">
    <h4 class="text-center">Want to know more?</h4>
    <h4 class="text-center">Check out our PhATS newsletters!</h4>
    <ul id="product-img-slider">
        {% for newsfeed in site.data.newsfeed %}
        <li class="text-center">
            <a href="javascript:void(0)">
                <h3>{{ newsfeed.date }}</h3>
                <img src="{{ newsfeed.img }}"/>
                <h3>{{ newsfeed.title }}</h3>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>