<div id="newsFeed">
    <h4 class="text-center">
        <a href="https://goo.gl/CqtcKF" target="_blank">Click here to learn more through our PhATS Knowledge Management Resources</a>
    </h4>
    <!--<ul id="product-img-slider">-->
        <!--{% for newsfeed in site.data.files %}-->
        <!--<li class="text-center">-->
            <!--<a href="{{ newsfeed.url }}" target="_blank">-->
                <!--<img src="{{ newsfeed.thumb }}"/>-->
                <!--<h3>{{ newsfeed.name }}</h3>-->
            <!--</a>-->
        <!--</li>-->
        <!--{% endfor %}-->
    <!--</ul>-->
</div>