html
  margin: 0
  padding: 0
  position: relative
  min-height: 100%

body
  font-family: 'MyriadPro-Regular'
  margin: 95px 0 74px //this will depends on footer height
  
//#mock
//  background: url(/images/home.jpg)
//  opacity: 0.8
//  background-repeat: no-repeat
//  background-size: cover
//  background-position-y: -211px

.navbar-default
  background-color: white
  border-color: transparent
  .container
    height: inherit
    .navbar-header
      height: 95px
      .navbar-brand
        height: inherit
        img
          position: relative
          top: 50%
          transform: translateY(-50%)
          height: 65px
    .navbar-nav
      height: 95px
      li
        top: 50%
        position: relative
        transform: translateY(-50%)
        padding: 0 35px 8px
        a
          color: #777
          padding: 0
          &:hover
            border-bottom: 1px solid #777
          
.section-header
  margin-top: 42px
  margin-bottom: 30px
footer
  position: absolute
  bottom: 0
  height: 74px
  width: 100%
  .container
    height: inherit
    .copyright
      position: relative
      top: 50%
      transform: translateY(-50%)
    .social-media-buttons
      float: right
      ul
        padding-left: 0
        list-style: none
        li
          padding: 0 5px
          display: inline-block
          .twitter-follow
            transform: translateY(27%)