html
  margin: 0
  padding: 0
  position: relative
  min-height: 100%

body
  font-family: 'MyriadPro-Regular'
  margin: 95px 0 74px //this will depends on footer height
  
//#mock
//  background: url(/images/home.jpg)
//  opacity: 0.8
//  background-repeat: no-repeat
//  background-size: cover
//  background-position-y: -211px
.modal-backdrop.fade
  z-index: 5
.modal.fade .modal-dialog
  z-index: 50
  width: 100%
  max-width: 55%
  margin: 30px auto
.modal-open .modal
  padding-right: 17px !important
.modal-header
  background-color: #F2F2F2
.modal-content
  border-radius: 0
.modal-body
  padding: 25px 40px
  .form-title
    display: block
    font-size: 16px
    margin: 10px 0
    color: #4A4A4A
  textarea
    font-size: 16px
    height: 130px
    border-radius: 0
  input
    font-size: 16px
    border-radius: 0
    margin: 10px 0
.modal-footer
  padding: 15px 40px
  .modal-submit
    background-color: #00aeef
    border-color: transparent
    color: white
    width: 180px
    border-radius: 0
  
.navbar-default
  background-color: white
  border-color: transparent
  .container
    height: inherit
    .navbar-header
      height: 95px
      .navbar-brand
        height: inherit
        img
          position: relative
          top: 50%
          transform: translateY(-50%)
          height: 65px
    .navbar-nav
      height: 95px
      li
        top: 50%
        position: relative
        transform: translateY(-50%)
        padding: 0 35px 8px
        a
          color: #4A4A4A
          padding: 0
          &:hover
            border-bottom: 1px solid #777
.sticky-wrapper
  height: auto !important
.category-nav-container
  background-color: white
  z-index: 1
  .category-nav-mobile
    width: 100%
    a
      padding: 10px
      color: #333
      text-decoration: none
      font-size: 14px
      float: none
      display: table
      margin: 0 auto
      top: 50%
      position: relative
  .full-width
    width: 100%
    border-top: 1px solid #888888
    border-bottom: 1px solid #888888
    .category-nav
      padding: 0
      height: 70px
      margin-bottom: 0
      li
        position: relative
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
        list-style: none
        padding: 10px
        display: inline-block
        text-align: center
        font-family: MyriadPro-Regular, sans-serif
        font-size: 14px
        color: #4A4A4A
      a
        text-decoration: none
        color: #4A4A4A
        &:hover
          color: #00AEEF
        &.active
          color: #00AEEF

@media (min-width: 992px)
  .category-nav-container
    .category-nav-mobile
      display: none
@media (max-width: 1200px)
  .modal.fade 
    .modal-dialog
      max-width: 80%
@media (max-width: 991px)
  .navbar.navbar-fixed-top
    .container
      padding: 0 5px 0 5px
  .navbar-header
    float: none
  .navbar-left, .navbar-right
    float: none !important
  .navbar-toggle
    display: block
  .navbar-collapse
    border-top: 1px solid transparent
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1)
  .navbar-fixed-top
    top: 0
    border-width: 0 0 1px
  .navbar-collapse.collapse
    display: none !important
  .navbar-nav
    height: auto !important
    float: none !important
    margin: 40px auto 0
    display: table
    li
      transform: none
      top: auto !important
      display: table
      float: none
      margin-bottom: 11px
      a
        font-size: 1.2em
        padding-top: 10px
        padding-bottom: 10px
  .collapse.in
    display: block !important
    overflow-x: hidden !important
  .navbar
    &.navbar-fixed-top
      .container
        width: 100%
        .navbar-brand
          margin-left: 0
  .navbar-default
    .navbar-toggle
      margin: 0 15px
      top: 50%
      position: relative
      transform: translateY(-50%)

  .sticky-wrapper
    border-bottom: 0 !important
  .category-nav-container
    .category-nav-mobile
      border-top: 1px solid #e7e7e7
      border-bottom: 1px solid #e7e7e7
      display: inline-block
      a
        font-size: 18px
    .full-width
      border: transparent
      .category-nav
        margin-top: 40px
        height: auto
        a
          font-size: 17px

  .modal.fade
    .modal-dialog
      max-width: 90%


@media (max-width: 480px)
  .category-nav-container
    .full-width
      .category-nav
        a
          font-size: 14px
  .modal-body
    padding: 25px 20px !important
          
.section-header
  text-align: center
  color: #4A4A4A
  padding-top: 42px
  margin-bottom: 30px
footer
  position: absolute
  bottom: 0
  height: 74px
  width: 100%
  .container
    height: inherit
    .copyright
      position: relative
      top: 50%
      transform: translateY(-50%)
    .social-media-buttons
      float: right
      ul
        padding-left: 0
        list-style: none
        li
          padding: 0 5px
          display: inline-block
          &:nth-child(3)
            padding-right: 0
          .twitter-follow
            transform: translateY(27%)

@media (max-width: 767px)
  .navbar-default
    .container
      .navbar-header
        .navbar-toggle
          margin-right: 30px
        .navbar-brand
          padding-left: 30px
          img
            height: 50px
  footer
    .container
      .copyright
        transform: none
        top: 0
        text-align: center
      .social-media-buttons
        float: none
        ul
          float: none
          margin: 0 auto
          display: table

