//#mock
//  background: url(/images/phats.jpg)
//  opacity: 0.5
//  background-repeat: no-repeat
//  background-size: cover
//  background-position-y: -120px
  
.banner-container
  min-height: 75vh
  background: url("/images/banner/demand.jpg")
  background-size: cover
