.banner-container
  min-height: 75vh
  background: url("/images/banner/phats.jpg")
  background-size: cover
  position: relative
  .pillars-header
    z-index: 5
    width: 80%
    max-width: 60%
    color: white
    position: absolute
    bottom: 5%
    left: 7%
    font-family: MyriadPro-Bold
    font-size: 7em
    text-shadow: 2px 5px 10px #000
  .background-overlay
    z-index: 3
    position: absolute
    top: 0
    background: rgba(0, 0, 0, 0.2)
    height: 100%
    width: 100%
#article-content
  h1
    margin-top: 65px
    margin-bottom: 40px
  p
    //margin-top: 68px;
    //margin-left: 30px;
    text-align: justify
    font-size: 1.3em
    line-height: 32px
#pillars-description
  font-size: 1.3em
  max-width: 85%
  text-align: center
  float: none
  margin: 40px auto
.pillars-container
  .pillars-icon
    margin: 30px 0
    height: inherit
    .circle-border
      position: relative
      float: none
      display: table
      margin: 0 auto
      background-color: #EAEAEA
      border-radius: 50%
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      padding: 100px
      img
        position: absolute
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
        height: 80px
        top: 35%
        transform: translateY(-35%)
  .pillars-title
    font-size: 20px
    text-align: center
    transform: translateY(-65px)
    span
      display: block

#newsFeed
  margin-bottom: 20px
  h4
    &:nth-child(2)
      margin-top: 20px
      margin-bottom: 40px
  .lSSlideOuter
    ul
      height: 350px !important
      li
        border: 1px solid transparent
        transition: all 200ms ease
        &:hover
          border: 1px solid #00AEEF
          border-radius: 10px
        a
          text-decoration: none
          h3
            color: #000
            font-size: 1.3em
          img
            height: 200px
    .lSAction
      a
        top: 40%
        width: 50px
        height: 36px
        z-index: 0
        text-decoration: none
        &.lSPrev
          background-position: 0px -72px
        &.lSNext
          background-position: -72px 0px
    .lSPager
      display: none
#projects
  padding-top: 50px
  padding-bottom: 50px
  #projects-content
    a
      text-decoration: none
      color: #4A4A4A
      ul
        font-size: 1.4em
        padding-left: 0
        list-style: none
        max-width: 80%
        border: 1px solid #979797
        margin: 40px auto 0px auto
        padding: 15px 15px 15px 30px
        li
          display: inline-block
          .project-folder
            color: inherit
          .project-title
            color: inherit
            margin-left: 15px
        &:hover
          border-color: #00AEEF
          color: #00AEEF

@media (max-width: 1200px)
  #projects
    #projects-content
      h4
        height: 60px

@media (max-width: 991px)
  .banner-container
    .pillars-header
      font-size: 5em
  #projects
    #projects-content
      h4
        height: auto
        max-width: 80%
        margin: 0 auto
      a
        ul
          text-align: center
          margin: 50px auto
@media (max-width: 767px)
  .banner-container
    .pillars-header
      font-size: 4em
      max-width: 100%

@media (max-width: 480px)
  .section-header
    font-size: 30px
  .banner-container
    .pillars-header
      font-size: 3.2em
      font-size: 30px

  #article-content
    p
      text-align: left
      font-size: 1.3em
  #projects
    #projects-content
      a
        ul
          font-size: 1.1em







    