.banner-bar
  height: 60px
  background-color: #F2F2F2
  position: relative
  .banner-text
    text-align: center
    font-size: 16px
    display: block
    top: 50%
    position: relative
    transform: translateY(-50%)
    a
      text-decoration: underline

