.banner-bar
  height: 60px
  background-color: #F2F2F2
  position: relative
  .banner-text
    text-align: center
    font-size: 16px
    display: block
    top: 50%
    position: relative
    transform: translateY(-50%)
    a
      text-decoration: underline
.container
  .project-header
    padding: 15px 15px 15px 30px
    color: #00AEEF
  .panel-group
    max-width: 80%
    .panel-default
      background-color: transparent
      border: none
      border-radius: 0
      box-shadow: none
      a
        text-decoration: none
        .panel-heading
          padding-left: 0
          list-style: none
          border: 1px solid #979797
          margin: 20px auto 0px auto
          padding: 15px 15px 15px 30px
          color: #9B9B9B
          .panel-title
            font-size: 1.4em
            .glyph-left
              margin-right: 5px
            

        .panel-collapse
          margin: 20px auto 0px auto
