<div id="projects" class="container">
    <!--<h4 class="text-center project-introduction">{{ page.projectIntroduction }}</h4>-->
    <br/>
    <div id="projects-content" class="row">
        {% for projects in page.projects %}
        <div class="col-lg-6 col-md-6">
            <h4 class="text-center"
                {% if page.slug == "knowledge-management" %} style="display:none;"{% endif %}
            {% if page.slug == "demand-creation" %} style="margin-top: 25px;" {% endif %}>
                {{ projects.description }}
            </h4>
            <div class="project-box">
                <a href="{{projects.url}}" target="_blank">
                    <ul>
                        <li>
                            <span class="project-folder glyphicon glyphicon-folder-close"></span>
                        </li>
                        <li>
                            <span class="project-title">{{ projects.title }}</span>
                        </li>
                    </ul>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page.slug == "knowledge-management" %}
    <div class="content-extension">
        <a class="text-center" href="https://goo.gl/GfnSQP" target="_blank">Click here for more Knowledge Management resources.</a>
    </div>
    {% endif %}
</div>