<div id="projects" class="container">
    <div id="projects-content" class="row">
        {% for projects in page.projects %}
        <div class="col-lg-6 col-md-6">
            <h4 class="text-center"{% if page.name == "Knowledge Management" %} style="display:none;"{% endif %}>{{ projects.description }}</h4>
            <div class="project-box">
                <a href="javascript:void(0)">
                    <ul>
                        <li>
                            <span class="project-folder glyphicon glyphicon-folder-close"></span>
                        </li>
                        <li>
                            <span class="project-title">{{ projects.title }}</span>
                        </li>
                    </ul>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page.slug == "knowledge-management" %}
    <div class="content-extension">
        <a class="text-center" href="https://goo.gl/GfnSQP" target="_blank">More resources on knowledge management can be found here.</a>
    </div>
    {% endif %}
</div>