<div id="projects" class="container">
    <div id="projects-content" class="row">
        <div class="col-lg-6">
            <h4 class="text-center">{{ page.project1.description }}</h4>
            <div class="project-box">
                <a href="javascript:void(0)">
                    <ul>
                        <li>
                            <span class="project-folder glyphicon glyphicon-folder-close"></span>
                        </li>
                        <li>
                            <span class="project-title">{{ page.project1.title }}</span>
                        </li>
                    </ul>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <h4 class="text-center">{{ page.project2.description }}</h4>
            <div class="project-box">
                <a href="javascript:void(0)">
                    <ul>
                        <li>
                            <span class="project-folder glyphicon glyphicon-folder-close"></span>
                        </li>
                        <li>
                            <span class="project-title">{{ page.project2.title }}</span>
                        </li>
                    </ul>
                </a>
            </div>
        </div>
    </div>
</div>