---
layout: pages/resources
---
<div class="banner-bar">
    <span class="banner-text">If you have a resource you would like made available and you don't see it here, or if you have a document to share, please let us know: <a class="typeform-share" href="https://philippineswash.typeform.com/to/Mtcowi" data-mode="1" target="_blank">email us!</a></span>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="project-header">PhATS</h3>
            {% include resources/phats.html %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="project-header">GeneralWaSH</h3>
            {% include resources/generalWash.html %}
        </div>
    </div>
</div>
