<header class="hero">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>WELCOME TO THE PHILIPPINES WaSH RESOURCES WEBSITE.</h1>
            <p>We hope to provide a place where all water, sanitation, and hygiene partners working in the Philippines can come together to Learn, Implement, and Connect.</p>
            <div class="page-scroll">
                <a href="#promotional">
                    <p class="shop-now">SHOP NOW!</p>
                    <span class="glyphicon glyphicon-menu-down arrow-icon"></span>
                </a>
            </div>
        </div>
    </div>
    <div id="video-overlay"></div>
    <header id="video-header">
        <div id="inner-video-container">
            <video id="video-sample" onended="videoChange()" autoplay muted >
                <source src="http://ak9.picdn.net/shutterstock/videos/5637488/preview/stock-footage-fresh-fishes-form-andaman-sea.mp4"/>
            </video>
        </div>
    </header>
</header>
