<header class="hero">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to the Philippines WaSH Resources Website.</h1>
            <p>We hope to provide a place where all water, sanitation, and hygiene partners working in the Philippines can come together to Learn, Implement, and Connect.</p>
            <div class="page-scroll">
                <a href="#services-section">
                    <div class="mouse_scroll">
                        <div class="mouse">
                            <div class="wheel"></div>
                        </div>
                        <div>
                            <span class="m_scroll_arrows unu"></span>
                            <span class="m_scroll_arrows doi"></span>
                            <span class="m_scroll_arrows trei"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="video-overlay"></div>
    <header id="video-header">
        <div id="inner-video-container">
            <video id="video-sample" loop autoplay muted >
                <source src="/video/cover.mp4"/>
            </video>
        </div>
    </header>
</header>
