<div id="services-section" class="container">
    <h2 class="text-center section-header">What we can do together?</h2>
    {% for services in site.data.services %}
    <div class="row {% cycle 'services-right','services-left' %}">
        <div data-sr="wait 0.5s, ease-in" class="col-lg-5 col-md-5 col-sm-5 hidden-xs {% cycle 'pull-left', 'pull-right' %} {% cycle 'services-img-right','services-img-left' %}">
            <div class="img-cropper">
                <img class="center-block" src="{{ services.img }}">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 services-icon {{ services.class }}">
            <div data-sr="wait 0.8s, ease-in" class="circle-border">
                <img class="center-block" src="{{ services.icon }}">
            </div>
            <div data-sr="wait 1.1s, hustle 50%" class="dashed-line hidden-xs">
            </div>
        </div>
        <div data-sr="wait 0.6s, ease-in"  class="col-lg-5 col-md-5 col-sm-5 col-xs-12 {% cycle 'pull-right', 'pull-left' %} {% cycle 'services-description-right','services-description-left' %}">
            <h2>{{ services.title }}</h2>
            <p>{{ services.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>